body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: #e9e7e7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: 1px solid black; /* Рамка вокруг формы */
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}
login-form 
.container label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}
.container input[type="text"],
.container input[type="password"] {
    width: calc(100% - 22px); /* Учитываем отступы */
    padding: 10px;
    margin-top: 5px; /* Отступ сверху */
    border: 1px solid black;
    border-radius: 4px;
}
.container input[type="text"]:focus,
.container input[type="password"]:focus {
    border-color: #4CAF50; /* Цвет границы при фокусе */
    outline: none; /* Убираем обводку при фокусе */ 
}
.container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px; /* Отступ сверху */
}

.container button:hover {
    background-color: #2d7e31;
}
.error{
    color: red;
    font-size: 12px;
}